.kontaktai form > div{
    margin: 10px;
}

.kontaktai label {
    margin: 5px;
}

#add_mail, .kontaktai .remove{
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    width: 15px;
    display: inline-block;
    cursor: pointer;
}








.portfolio .sachmatai {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    display: grid;
}

.portfolio .sachmatai > div {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    display: inline-grid;
    place-items: center;
    justify-content: center;
    background: gray;
}


.portfolio .sachmatai > div:nth-of-type(4n+4){
    background: green;
}

.portfolio .sachmatai > div:nth-of-type(4n+2){
    background: blue;
}

.portfolio .sachmatai > div:nth-of-type(2n+16){
    background: pink;
}

.portfolio .darbai {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;

}

.portfolio .darbas > img {
    position: relative;
    z-index: 999;
}

.portfolio #pad {
    border: 2px solid black;
}

.portfolio #dark_screen{
    background-color: black;
    opacity: 0.8    ;
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1001;

}

.portfolio .darbas > img.clicked{
  transform: scale(2);
  z-index: 2000;
}

.portfolio form {
    margin-bottom: 20px;
}